.autocomplete-container .input-container input{
    border-radius: 10px !important;
} 

body {
    align-items: center;
    background: #708fd4;
    display: flex;
    font-family: 'Inconsolata', monospace;
    height: 100%;
    justify-content: center;
    margin: 0;
    position: absolute;
    width: 100%;
  }
  
  .filter {
    position: absolute;
    left: -9999px;
  }
  
  .burger {
    display: flex;
    flex-direction: column;
  
    padding: 30px;
  }
  
  .radios-boxes {
    display: flex;
  }
  
  .radios {
    display: flex;
    filter: url('#gooeyness');
    flex-direction: column;
    overflow: hidden;
    position: relative;
  }
  
  .radio {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 16px solid #ccc;
    cursor: pointer;
    height: 60px;
    margin: 10px;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    transition: border-color 800ms;
    width: 60px;
  }
  
  .radio.active {
    border-color: white;
  }
  
  .ball {
    background: rgb(89, 0, 255);
    border-radius: 50%;
    height: 34px;
    left: 23px;
    pointer-events: none;
    position: absolute;
    top: 23px;
    transform: translateY(-80px);
    transition: transform 800ms;
    width: 34px;
  }
  
  .ball.pos0 {
    transform: translateY(0px);
  }
  
  .ball.pos1 {
    transform: translateY(80px);
  }
  
  .ball.pos2 {
    transform: translateY(160px);
  }
  
  .ball.pos3 {
    transform: translateY(240px);
  }
  
  .labels {
    margin-left: 5px;
  }
  
  .label {
    color: #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 50px;
    padding: 15px 0;
    -webkit-tap-highlight-color: transparent;
    transition: color 800ms;
  }
  
  .label.active {
    color: rgb(0, 0, 0);
  }
  /* #inc.active{
    color: rgb(81, 255, 0) !important;
    border-color:  rgb(81, 255, 0);
  }
  #dec.active{
    color: rgb(255, 0, 0) !important;
    border-color:  rgb(81, 255, 0);
  } */


  
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.radio-tile-group .input-container {
  position: relative;
  height: 7rem;
  width: 7rem;
  margin: 0.5rem;
}
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.radio-tile-group .input-container .radio-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 2px solid #079ad9;
  border-radius: 5px;
  padding: 1rem;
  transition: transform 300ms ease;
}
.radio-tile-group .input-container .icon svg {
  fill: #079ad9;
  width: 3rem;
  height: 3rem;
}
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #079ad9;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #079ad9;
  border: 2px solid #079ad9;
  color: white;
  transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
  fill: white;
  background-color: #079ad9;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: #079ad9;
}
.cards_area{
  display: table-cell;
}
img{
  height: 120px;
  width: 100%;
  object-fit: cover;
}