html,
body {
  height: 100%;
}


.form-signin {
  max-width: 430px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.details{
    position: fixed;
   
    left: 0;
    right: 0;
z-index: -99;
padding-left: 10%;
    padding-right: 10%; 
}

.details label{
    position: absolute;
    color: white;
    background: #0504014d;
    font-size: 40px;
    width: 80%;

    

}
.details img{
    object-fit: cover;
            box-shadow: 0 0 20px 1px black;
            width: 100%;
            height: 6cm;
}