a{
    cursor: pointer;
    color: rgb(42, 42, 206)!important;;
}

.preview{
    position: absolute;
    top: 20%;
    left: 220px;
    right: 10%;
    background: white;
    box-shadow: 0 0 20px 0px black;
}
.Batch-Header-details{
    margin-top: 20px;
}
img{
    height: 300px;
width: 100%;
object-fit: contain;
border-radius: 10px;
box-shadow: 0 0 11px 0px black;
}