<h1 id="tableLabel">Brands</h1>

<div class="header-buttons">
  <hr>
  <div>
    <a (click)="routeTo('/Brand/Create')"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
        fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
        <path
          d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z" />
      </svg>New Brand</a>
  </div>
  <hr>
  <div class="form-group">
    <label for="name">Serach By name</label>
    <input type="text" class="form-control" id="search" (change)="changeSearch($event)">
  </div>
  <p></p>

</div>

<p *ngIf="!brands?.length"><em>Loading...</em></p>
<div *ngFor="let brand of brands" class="cards_area">

  <div class="card" style="    width: 200px; margin-left: 25px; margin-bottom: 25px;">

    <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
      <img src="{{brand.img}}" class="img-fluid" style="max-width: 100% !important; " />
      <a href="#!">
        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{brand.name}}</h5>
      <p class="card-text">{{brand.description}}</p>
      <a class="btn btn-primary" (click)="routeTo('/Brand/Update/'+brand.id)"
        style="  color: white !important;">Edit</a>
    </div>
  </div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="brands.length">
  <thead>
    <tr>
      <th>No.</th>
      <th> <a (click)="SortByName()">Name
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
          </svg>
        </a></th>
      <th>Description</th>
      <th>Image</th>
      <th></th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let brand of brands">
      <td>{{ brand.id }}</td>
      <td>{{ brand.name }}</td>
      <td>{{ brand.description }}</td>
      <td> <img *ngIf="brand.img" [src]="brand.img" style="      width: 75%;
        height: 50px; "></td>
      <td> <a title="Edit Batch" (click)="routeTo('/Brand/Update/'+brand.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="auto" fill="currentColor" class="bi bi-gear-fill"
            viewBox="0 0 16 16">
            <path
              d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
          </svg>
        </a></td>
    </tr>
  </tbody>
</table>